.page[data-v-2f68c4ea]{background:#f7f8fa;min-height:100vh}.search-wrap[data-v-2f68c4ea]{background:#f7f8fa;padding:10px 12px 0}.content[data-v-2f68c4ea]{padding:16px}.actions[data-v-2f68c4ea]{margin:24px 16px 0}
